<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioPendientes.SettingsPendings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ServicioPendientes.SettingsPendings.dbConnection"
            connectionString="Data Source=10.10.10.155\antina_bd_dev;Initial Catalog=GSC_TESTFRANK;Persist Security Info=True;User ID=fbenitez;Password=123456" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ServicioPendientes.SettingsPendings>
            <setting name="logPath" serializeAs="String">
                <value>c:</value>
            </setting>
            <setting name="daysBackCleaning" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="toList" serializeAs="String">
                <value>francisco_benitez@antina.com.ar;maximiliano_mora@antina.com.ar</value>
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value>10.10.10.70</value>
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="pendingsFolder" serializeAs="String">
                <value>\\10.10.10.155\k$\Pendientes</value>
            </setting>
            <setting name="loadedFolder" serializeAs="String">
                <value>\\10.10.10.155\k$\Cargados</value>
            </setting>
            <setting name="filesPerBatch" serializeAs="String">
                <value>30</value>
            </setting>
        </ServicioPendientes.SettingsPendings>
    </userSettings>
</configuration>